# Part 1

### Setup to read from Wikipedia

In [2]:
pip install wikipedia

Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Collecting beautifulsoup4 (from wikipedia)
  Downloading https://files.pythonhosted.org/packages/cb/a1/c698cf319e9cfed6b17376281bd0efc6bfc8465698f54170ef60a485ab5d/beautifulsoup4-4.8.2-py3-none-any.whl (106kB)
     |████████████████████████████████| 112kB 27.6MB/s eta 0:00:01
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from wikipedia) (2.22.0)
Collecting soupsieve>=1.2 (from beautifulsoup4->wikipedia)
  Downloading https://files.pythonhosted.org/packages/81/94/03c0f04471fc245d08d0a99f7946ac228ca98da4fa75796c507f61e688c2/soupsieve-1.9.5-py2.py3-none-any.whl
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.25.7)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.9.11)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: soupsieve, beautifulsoup4, wikipedia
Successfully installed beautifulsoup4-4.8.2 soupsieve-1.9.5 wikipedia-1.4.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install lxml

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/68/30/affd16b77edf9537f5be051905f33527021e20d563d013e8c42c7fd01949/lxml-4.4.2-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 8.8MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.2
Note: you may need to restart the kernel to use updated packages.

In [4]:
import wikipedia
import pandas as pd

### Read table into a dataframe

In [42]:
page = wikipedia.page("List of postal codes of Canada: M").html().encode("UTF-8")
toronto_df = pd.DataFrame(columns=["PostalCode", "Borough", "Neighborhood"])
toronto_df = pd.read_html(page)[0]
toronto_df

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

### Remove all rows where Borough = Not assigned

In [43]:
toronto_df.drop(toronto_df[toronto_df["Borough"]=="Not assigned"].index, inplace=True)
toronto_df.reset_index(drop=True, inplace=True)
toronto_df

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

### Assigning Borough value to Neighborhood where Neighborhood = Not assigned

In [44]:
for row in toronto_df.index:
    if toronto_df.iloc[row, 2] == "Not assigned":
        toronto_df.iloc[row, 2] = toronto_df.iloc[row, 1]
toronto_df

    Postcode           Borough             Neighbourhood
0        M3A        North York                 Parkwoods
1        M4A        North York          Victoria Village
2        M5A  Downtown Toronto              Harbourfront
3        M6A        North York          Lawrence Heights
4        M6A        North York            Lawrence Manor
..       ...               ...                       ...
205      M8Z         Etobicoke  Kingsway Park South West
206      M8Z         Etobicoke                 Mimico NW
207      M8Z         Etobicoke        The Queensway West
208      M8Z         Etobicoke     Royal York South West
209      M8Z         Etobicoke            South of Bloor

[210 rows x 3 columns]

### Combining Neighborhood column for rows of same Postal Code

In [45]:
toronto_df_final = pd.DataFrame(columns=["PostalCode", "Borough", "Neighborhood"])
toronto_df_final['PostalCode'] = toronto_df["Postcode"]
toronto_df_final['Borough'] = toronto_df["Borough"]
toronto_df_final['Neighborhood'] = ""

for row in toronto_df_final.index:
    for rows in toronto_df.index:
        if toronto_df_final.iloc[row, 0] == toronto_df.iloc[rows, 0]:
            toronto_df_final.iloc[row, 2] = toronto_df.iloc[rows, 2] + ', ' + toronto_df_final.iloc[row, 2]

toronto_df_final.drop_duplicates(subset=['PostalCode'], inplace = True)
toronto_df_final.reset_index(drop=True, inplace=True)
toronto_df_final

,PostalCode,Borough,Neighborhood
0,M3A,North York,"Parkwoods,"
1,M4A,North York,"Victoria Village,"
2,M5A,Downtown Toronto,"Harbourfront,"
3,M6A,North York,"Lawrence Manor, Lawrence Heights,"
4,M7A,Downtown Toronto,"Queen's Park,"
...,...,...,...
98,M8X,Etobicoke,"Old Mill North, Montgomery Road, The Kingsway,"
99,M4Y,Downtown Toronto,"Church and Wellesley,"
100,M7Y,East Toronto,Business Reply Mail Processing Centre 969 East...
101,M8Y,Etobicoke,"Sunnylea, Royal York South East, The Queensway..."
102,M8Z,Etobicoke,"South of Bloor, Royal York South West, The Que..."

### Obtain dataframe shape

In [46]:
toronto_df_final.shape

(103, 3)

# Part 2

### Obtaining the coordinates of each postal code

In [54]:
lat_long = pd.read_csv('Geospatial_Coordinates.csv')
lat_long.sort_values(by='Postal Code', inplace=True)

toronto_df_final.sort_values(by='PostalCode', inplace=True)
toronto_df_final["Latitude"] = lat_long['Latitude']
toronto_df_final["Longitude"] = lat_long['Longitude']

toronto_df_final

,PostalCode,Borough,Neighborhood,Latitude,Longitude
6,M1B,Scarborough,"Malvern, Rouge,",43.727929,-79.262029
12,M1C,Scarborough,"Port Union, Rouge Hill, Highland Creek,",43.794200,-79.262029
18,M1E,Scarborough,"West Hill, Morningside, Guildwood,",43.778517,-79.346556
22,M1G,Scarborough,"Woburn,",43.770120,-79.408493
26,M1H,Scarborough,"Cedarbrae,",43.745906,-79.352188
...,...,...,...,...,...
64,M9N,York,"Weston,",43.696948,-79.411307
70,M9P,Etobicoke,"Westmount,",43.648429,-79.382280
77,M9R,Etobicoke,"St. Phillips, Richview Gardens, Martin Grove G...",43.647927,-79.419750
89,M9V,Etobicoke,"Thistletown, South Steeles, Silverstone, Mount...",43.602414,-79.543484
94,M9W,Etobicoke,"Northwest,",43.650943,-79.554724

# Part 3

### Exploring and clustering the data